.card_section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px 0;
    .card{
        height: 600px;
        border-radius: 10px;
        overflow:hidden;
        background-color: $color-light;
        img{
            width: 100%;
            height: 40%;
            object-fit: cover;
            object-position: center;
        }
        &_infos{
            @include flex(column);
            height: 60%;
            gap: 20px;
            padding: 20px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: $color-primary;
            }
            h2{
                font-family: $title-typo;
                font-size: 1.5rem;
                font-weight: 100;
            }
            &_instructions{
                @include flex(column);
                gap: 20px;
                font-family: $texte-typo;
                h3{
                    text-transform: uppercase;
                    color: $color-grey;
                    letter-spacing: 2px;
                    font-size: 1.2rem;
                    font-weight: 900;
                }
                p{
                    font-size: .9rem;
                }
            }
            &_ingredients{
                @include flex(column);
                gap: 20px;
                font-family: $texte-typo;
                h3{
                    text-transform: uppercase;
                    color: $color-grey;
                    letter-spacing: 2px;
                    font-size: 1.2rem;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px 0;
                    font-size: .9rem;
                    li{
                        @include flex(column);
                        width: 50%;
                        span:nth-child(1) {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}